h1 {
  font-size: 80px;
  font-family: "Share Tech Mono", monospace;
}

.just-apply-font {
  font-family: "Share Tech Mono", monospace;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

/* ==================================================================================================== */
/* ==================================================================================================== */
/* ==================================================================================================== */
/* TITLE GRADIENTS */

.title-gradient {
  color: #FFC800;
  background-image: linear-gradient(90deg, #8000D0, #FF0000, #FFFF00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.softcap-gradient {
  color: #FF0000;
  background-image: linear-gradient(180deg, #800000, #FF0000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.decillionth-section {
  color: #00E000;
  background-image: linear-gradient(180deg, #AAAAAA, #00D000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.nonillionth-section {
  color: #80D0FF;
  background-image: linear-gradient(180deg, #AAAAAA, #80D0FF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.octillionth-section {
  color: #ffa45a;
  background-image: linear-gradient(180deg, #AAAAAA, #ffa45a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.octillionth-dark-section {
  color: #df843a;
  background-image: linear-gradient(180deg, #888888, #df843a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.septillionth-section {
  color: #c880ff;
  background-image: linear-gradient(180deg, #AAAAAA, #c880ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.sextillionth-section{
  color: #ff8080;
  background-image: linear-gradient(180deg, #AAAAAA, #ff8080);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

/* ==================================================================================================== */
/* ==================================================================================================== */
/* ==================================================================================================== */
/* BUTTONS */

.button {
  font-family: "Share Tech Mono", monospace;;
  color: white;
  font-weight: 666;
  border: 2px solid black;
}

/* ==================================================================================================== */

.soft-dark {
  background: linear-gradient(180deg, #888888, #bf0000);
}

.soft-dark:hover {
  background: linear-gradient(180deg, #989898, #df0000);
}

.soft-light {
  background: linear-gradient(180deg, #AAAAAA, #ff0000);
}

.soft-light:hover {
  background: linear-gradient(180deg, #BABABA, #ff2020);
}

/* ==================================================================================================== */

.decillionth-button {
  background: linear-gradient(180deg, #AAAAAA, #00D000);
}

.decillionth-button:hover {
  background: linear-gradient(180deg, #BABABA, #10E010);
}

.decillionth-button:disabled {
  cursor: not-allowed;
  background: linear-gradient(180deg, #AAAAAA, #00D000);
}

.decillionth-dark-button {
  background: linear-gradient(180deg, #888888, #009000);
}

.decillionth-dark-button:hover {
  background: linear-gradient(180deg, #989898, #00B000);
}

.decillionth-dark-button:disabled {
  cursor: not-allowed;
  background: linear-gradient(180deg, #888888, #009000);
}

/* ==================================================================================================== */

.non-dark {
  background: linear-gradient(180deg, #888888, #60B0E0);
}

.non-dark:hover {
  background: linear-gradient(180deg, #989898, #70C0F0);
}

.non-dark:disabled {
  cursor: not-allowed;
  background: linear-gradient(180deg, #888888, #60B0E0);
}

.non-light {
  background: linear-gradient(180deg, #AAAAAA, #80D0FF);
}

.non-light:hover {
  background: linear-gradient(180deg, #BABABA, #90E0FF);
}

.non-light:disabled {
  cursor: not-allowed;
  background: linear-gradient(180deg, #AAAAAA, #80D0FF);
}

/* ==================================================================================================== */

.oct-dark {
  background: linear-gradient(180deg, #888888, #df843a);
}

.oct-dark:hover {
  background: linear-gradient(180deg, #989898, #ef944a);
}

.oct-dark:disabled {
  cursor: not-allowed;
  background: linear-gradient(180deg, #888888, #df843a);
}

.oct-light {
  background: linear-gradient(180deg, #AAAAAA, #ffa45a);
}

.oct-light:hover {
  background: linear-gradient(180deg, #BABABA, #ffb46a);
}

.oct-light:disabled {
  cursor: not-allowed;
  background: linear-gradient(180deg, #AAAAAA, #ffa45a);
}

/* ==================================================================================================== */

.sep-dark {
  background: linear-gradient(180deg, #888888, #a860e0);
}

.sep-dark:hover {
  background: linear-gradient(180deg, #989898, #b870f0);
}

.sep-dark:disabled {
  cursor: not-allowed;
  background: linear-gradient(180deg, #888888, #a860e0);
}

.sep-light {
  background: linear-gradient(180deg, #AAAAAA, #c880ff);
}

.sep-light:hover {
  background: linear-gradient(180deg, #BABABA, #d890ff);
}

.sep-light:disabled {
  cursor: not-allowed;
  background: linear-gradient(180deg, #AAAAAA, #c880ff);
}

/* ==================================================================================================== */

.sx-dark {
  background: linear-gradient(180deg, #888888, #df6060);
}

.sx-dark:hover {
  background: linear-gradient(180deg, #989898, #ef7070);
}

.sx-dark:disabled {
  cursor: not-allowed;
  background: linear-gradient(180deg, #888888, #df6060);
}

.sx-light {
  background: linear-gradient(180deg, #AAAAAA, #ff8080);
}

.sx-light:hover {
  background: linear-gradient(180deg, #BABABA, #ff9090);
}

.sx-light:disabled {
  cursor: not-allowed;
  background: linear-gradient(180deg, #AAAAAA, #ff8080);
}

/* ==================================================================================================== */

.mil-dark {
  background: linear-gradient(180deg, #888888, #999999);
}

.mil-dark:hover {
  background: linear-gradient(180deg, #989898, #bbbbbb);
}

.mil-dark:disabled {
  cursor: not-allowed;
  background: linear-gradient(180deg, #888888, #999999);
}

.mil-light {
  background: linear-gradient(180deg, #AAAAAA, #dddddd);
}

.mil-light:hover {
  background: linear-gradient(180deg, #BABABA, #ffffff);
}

.mil-light:disabled {
  cursor: not-allowed;
  background: linear-gradient(180deg, #AAAAAA, #dddddd);
}

/* ==================================================================================================== */
/* ==================================================================================================== */
/* ==================================================================================================== */
/* MULTI-ROW BUTTONS */

.upgrade-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.upgrade-grid-atom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* ==================================================================================================== */
/* ==================================================================================================== */
/* ==================================================================================================== */
/* OUTLINES */

div.number1 {
  outline-color: #FFFFFF;
  outline-width: 4px;
  outline-style: solid;
  font-family: "Share Tech Mono", monospace;
}

div.softcaps {
  outline-color: #FF0000;
  outline-width: 4px;
  outline-style: solid;
  font-family: "Share Tech Mono", monospace;
}

div.decillionth {
  outline-color: #70FF70;
  outline-width: 4px;
  outline-style: solid;
  font-family: "Share Tech Mono", monospace;
}

div.nonillionth {
  outline-color: #80D0FF;
  outline-width: 4px;
  outline-style: solid;
  font-family: "Share Tech Mono", monospace;
}

div.octillionth {
  outline-color: #ffa45a;
  outline-width: 4px;
  outline-style: solid;
  font-family: "Share Tech Mono", monospace;
  position: relative;
  padding-bottom: 20px;
}

div.septillionth {
  outline-color: #c880ff;
  outline-width: 4px;
  outline-style: solid;
  font-family: "Share Tech Mono", monospace;
  position: relative;
  padding-bottom: 20px;
}

div.sextillionth {
  outline-color: #ff8080;
  outline-width: 4px;
  outline-style: solid;
  font-family: "Share Tech Mono", monospace;
  position: relative;
  padding-bottom: 20px;
}

/* ==================================================================================================== */
/* ==================================================================================================== */
/* ==================================================================================================== */
/* EXTRAS BELOW */

.exo-supertext {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.center {
  text-align: center;
}

p.numberp {
  font-family: "Share Tech Mono", monospace;
  font-size: 50px;
  font-weight:666;
  margin: 10px;
  text-align:center;
}

p.numbergain {
  font-family: "Share Tech Mono", monospace;
  font-weight:666;
  text-align:center;
  margin: 0;
  color: #ffffff;
}

p.individ-softcaps {
  font-family: "Share Tech Mono", monospace;
  font-weight:666;
  text-align:center;
  font-size:40px;
  margin: 0
}

.standard-upg {
  font-family: "Share Tech Mono", monospace;
  font-size: 40px;
  font-weight:666;
  margin: 0px;
  margin-bottom: 10px;
}

.standard-reset {
  font-family: "Share Tech Mono", monospace;
  font-size: 70px;
  font-weight:666;
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px 200px;
}

.standard-infobox {
  outline: 4px solid #ffa45a;
  width: 1500px;
  background-color: #8b5a32;
  font-family: 'Share Tech Mono', monospace;
  font-size: 30px;
  overflow: hidden;
  z-index: 999;
  margin: 20px auto 0;
}

.standard-infobox-header {
  background-color: #df843a;
  color: #000000;
  padding: 8px 12px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  border-bottom: 4px solid #ffa45a;
}

.standard-infobox-content {
  padding: 10px 12px;
  color: #ffffff;
  line-height: 1.5;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  gap: 20px;

  padding: 0 12px;
  background: #404040;
  font-family: sans-serif;
  font-size: 24px;

  z-index: 1000;
}

body {
  margin-top: 20px;
  padding-bottom: 100px;
}

.because-html-doesnt-do-js-newlines {
  white-space: pre-line;
}

.standard-tabs button {
  margin: 0;
  padding: 10px;
  display: inline-block;
}

.standard-tabs-button {
  font-size: 30px;
  width: 250px;
}

.oct-challenge-tab {
  display: none;
}

.standard-milestone {
  outline: 2px solid black;
  width: 1500px;
  background-color: #8b5a32;
  font-family: 'Share Tech Mono', monospace;
  font-size: 35px;
  overflow: hidden;
  z-index: 999;
  margin: 20px auto 0;
  line-height: 1;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 12px;
  background: #404040;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

#news-ticker-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

#news-ticker {
  display: inline-block;
  white-space: nowrap;
}
